.btn {
  background-color: var(--color--accent);
  border: 0;
  border-radius: var(--border-radius--pill);
  color: var(--color--text-inverse);
  display: inline-flex;
  padding: var(--space--small) var(--space--medium);
  text-decoration: none;
  transition-duration: var(--transition--base);
  transition-property: background-color, transform;
  transition-timing-function: ease-in-out;
  width: fit-content;

  &:hover {
    background-color: var(--color--accent-dark);
    transform: translateY(-0.15rem);
  }
}

.btn--cta {
  font-size: clamp(1.1rem, 1.3vw, 3rem);
  justify-self: center;
  padding: var(--space--base) var(--space--large);
}

.btn--doodles {
  align-items: start;
  display: flex;
  margin-top: var(--space--large);

  &::before {
    @include size(5rem);

    background-image: url("/static/images/svg/red-swoop-arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    // transform: translate(-5rem, 5rem);
  }

  &::after {
    @include size(6rem);

    background-image: url("/static/images/svg/yellow-arrows.svg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    transform: translateY(-2rem);
  }
}
