footer,
section {
  display: grid;
  grid-template-columns: minmax(auto, var(--container--base));
  justify-content: center;
  justify-items: center;
  padding: var(--space--large);
}

header {
  align-items: center;
  display: flex;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: var(--space--base);
}

nav ul {
  align-items: center;
  display: flex;
  gap: var(--space--base);
}

.l-hero {
  justify-items: center;
  text-align: center;
}

.l-hero--bottom {
  grid-gap: var(--space--medium);
  margin-top: -6rem;
}

.l-small {
  margin: 0 auto;
  max-width: 65ch;
}

footer {
  grid-gap: var(--space--large);
  ul {
    columns: 2;
  }

  li {
    margin-bottom: var(--space--base);
  }
}

.l-list {
  display: grid;
  grid-gap: var(--space--large);

  li {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space--medium);

    > * {
      flex: 1;
    }
  }
}

.l-list--primary {
  li {
    align-items: center;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}

.l-list--secondary {
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
}

.extra-space {
  margin-bottom: var(--space--medium);
  margin-top: var(--space--medium);
}

.logo-footer {
  justify-self: left;
}

.hero-doodle {
  position: relative;

  &::before {
    background-image: url("/static/images/svg/doodles-hero.svg");
    background-repeat: no-repeat;
    content: "";
    display: none;
    height: 100vh;
    position: absolute;
    width: 100vw;

    @media screen and (min-width: 30em) {
      display: inline-block;
      left: -4rem;
      top: -5rem;
    }
  }
}

.hero-circle-doodle {
  background-image: url('/static/images/svg/hero-circle-doodle.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.deep-features-doodle {
  display: flex;

  &::after {
    background-image: url("/static/images/svg/purple-burst-doodle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: inline-flex;
    width: var(--space--large);
    height: var(--space--large);
    transform: translateX(4rem) translateY(-1rem);

  }

  &::before {
    background-image: url("/static/images/svg/green-squiggle-doodle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: inline-flex;
    height: var(--space--large);
    width: 4rem;
    transform: translateX(-10rem) translateY(var(--space--large));
  }


}
