footer,
section {
  display: grid;
  grid-template-columns: minmax(auto, var(--container--base));
  justify-content: center;
  justify-items: center;
  padding: var(--space--large);
}

header {
  align-items: center;
  display: flex;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: var(--space--base);
}

nav ul {
  align-items: center;
  display: flex;
  gap: var(--space--base);
}

.l-hero {
  justify-items: center;
  text-align: center;
}

.l-hero--bottom {
  grid-gap: var(--space--medium);
  margin-top: -6rem;
}

.l-small {
  margin: 0 auto;
  max-width: 65ch;
}

footer {
  grid-gap: var(--space--large);

  ul {
    columns: 2;
  }

  li {
    margin-bottom: var(--space--base);
  }
}

.l-list {
  display: grid;
  grid-gap: var(--space--large);

  li {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space--medium);

    > * {
      flex: 1;
    }
  }
}

.l-list--primary {
  li {
    align-items: center;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}

.l-list--secondary {
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
}

.extra-space {
  margin-bottom: var(--space--medium);
  margin-top: var(--space--medium);
}

.logo-footer {
  justify-self: left;
}

.l-hero-doodle {
  background-image: url("/static/images/svg/hero-doodle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* .hero-doodle {
  margin-top: -80rem;

  &::before {
    background-image: url("/static/images/svg/doodles-hero.svg");
    background-repeat: no-repeat;
    content: "";
    display: none;

    @media screen and (min-width: 30em) {
      display: inline-flex;
      height: 80rem;
      transform: translateY(78rem) translateX(2rem);
      width: 75rem;
    }
  }
} */

.hero-circle-doodle {
  background-image: url("/static/images/svg/hero-circle-doodle.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.triple-yellow-circle-doodle {
  &::before {
    @include size(100%, 7rem);

    background-image: url("/static/images/svg/triple-circle-doodle.svg");
    background-repeat: no-repeat;
    content: "";
    display: block;
    transform: translate(-7rem, 1rem);
  }
}

.red-squiggle-doodle {
  &::before {
    @include size(3rem, 4.5rem);

    align-self: start;
    background-image: url("/static/images/svg/red-squiggle-doodle.svg");
    background-repeat: no-repeat;
    content: "";
    display: block;
    order: 3;
    transform: translateY(-1rem);
  }
}

.purple-scenario-doodle {
  &::before {
    @include size(100%, 3rem);

    background-image: url("/static/images/svg/purple-scenario-doodle.svg");
    background-repeat: no-repeat;
    content: "";
    display: block;
    transform: translateX(-2rem);
  }
}
