.hero-container {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
}

.step-by-step {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--space--large);
	position: absolute;
	width: 70%;
	bottom: -14.5rem;
}
