.hero-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.hero-bottom {
  align-items: center;
  bottom: -14.5rem;
  display: flex;
  flex-direction: column;
  gap: var(--space--large);
  position: absolute;
  width: 70%;
}
