body {
  background-color: var(--color--background-primary);
  color: var(--color--text);
}

.t-highlight {
  background-color: var(--color--background-highlight);
}

.t-mid {
  background-color: var(--color--background-secondary);
}
