<h2>{{ deep_features.title }}</h2>
<p class="center">{{ deep_features.description }}</p>
<ul class="l-list l-list--secondary" role="list">
  {% for item in deep_features.list %}
  <li>
    <img src="/static/images/{{ item.image.url }}.png" alt="{{ item.image.alt }}" />
    <div>
      <h3 class="title-small">{{ item.title }}</h3>
      <p>{{ item.description }}</p>
    </div>
  </li>
  {% endfor %}
</ul>
<span class="arrow-doodles"><a class="btn btn--cta extra-space" href="#">Try Teacher Moments</a></span>
