<h2>{{ deep_features.title }}</h2>
<p>{{ deep_features.description }}</p>
<ul role="list">
  {% for item in deep_features.list %}
  <li>
    <img src="{{ item.image.url }}" alt="{{ item.image.alt }}" />
    <div>
      <h3>{{ item.title }}</h3>
      <p>{{ item.description }}</p>
    </div>
  </li>
  {% endfor %}
</ul>
