<footer class="t-highlight">
  <div class="logo-footer">
    {% include "logo.njk" %}
  </div>
  <ul>
    <li>
      <a href="https://tsl.mit.edu/">Teaching Systems Lab</a>
    </li>
    <li>
      <a href="https://drive.google.com/drive/folders/1A3MxYpjPXSPndW3wMwAUXonZh6kFKYmG?usp=sharing">Resources</a>
    </li>
    <li>
      <a href="https://tsl.mit.edu/team/">Our team</a>
    </li>
    <li>
      <a href="https://twitter.com/mit_tsl">Twitter</a>
    </li>
    <li>
      <a href="https://github.com/mit-teaching-systems-lab">GitHub</a>
    </li>
    <li>
      <a href="mailto:teachermoments@mit.edu">Get in touch</a>
    </li>
  </ul>
</footer>
