<header class="t-highlight">
  <div>
    <img src="../static/images/logo.png" alt="Teach moments logo" style="width:80%"/>
  </div>
  <nav>
    <ul>
      <li>
        <a href="#">Sign in</a>
      </li>
      <li>
        <a class="btn" href="#">Sign up</a>
      </li>
    </ul>
  </nav>
</header>
