<header class="t-highlight">
  <div>
    {% include "logo.njk" %}
  </div>
  <nav>
    <ul>
      <li>
        <a href="#">Sign in</a>
      </li>
      <li>
        <a class="btn" href="#">Sign up</a>
      </li>
    </ul>
  </nav>
</header>
