<header class="t-highlight">
  <div>
    {% include "logo.njk" %}
  </div>
  <nav>
    <ul>
      <li>
        <a href="https://teachermoments.mit.edu/login">Sign in</a>
      </li>
      <li>
        <a class="btn" href="https://teachermoments.mit.edu/login/create-account">Sign up</a>
      </li>
    </ul>
  </nav>
</header>
