<h2>How do I use Teacher Moments?</h2>
<ul>
  <li>
    <h3>Search our existing library of scenarios</h3>
    <p>Use our robust collection of existing teaching scenarios, developed by MIT teacher educators and partners.</p>
  </li>
  <li>
    <h3>Remix scenarios or create your own</h3>
    <p>With our easy authoring tool, remix existing scenarios or design your own tailored to the needs of your learners.</p>
  </li>
  <li>
    <h3>Cohorts for teachers to learn together</h3>
    <p>Through cohorts for classes or PLCs, participants find the scenarios they need to complete and allow you to see their responses easily.</p>
  </li>
</ul>
