<h2 class="u-hide-visually">How do I use Teacher Moments?</h2>
<ul role="list">
  {% for item in main_features.list %}
  <li>
    <img src="{{ item.image.url }}" alt="{{ item.image.alt }}" />
    <div>
      <h3>{{ item.title }}</h3>
      <p>{{ item.description }}</p>
    </div>
  </li>
  {% endfor %}
</ul>
