<ol class="step-by-step">
  <li class="step-by-step__item">
    {% include "create-your-own-scenario.njk" %}
    <p class="step-by-step__title">Create your own scenario</p>
  </li>
  <li class="step-by-step__item">
    {% include "create-your-own-scenario.njk" %}
    <p class="step-by-step__title">Create your own scenario</p>
  </li>
  <li class="step-by-step__item">
    {% include "create-your-own-scenario.njk" %}
    <p class="step-by-step__title">Create your own scenario</p>
  </li>
</ol>
