<ol class="step-by-step">
  <li class="step-by-step__item">
    {% include "create-your-own-scenario.njk" %}
    <p class="step-by-step__title">Create your own scenario</p>
  </li>
  <li class="step-by-step__item">
    {% include "assign-cohorts.njk" %}
    <p class="step-by-step__title">Assign scenarios to your student cohorts</p>
  </li>
  <li class="step-by-step__item">
    {% include "rich-data.njk" %}
    <p class="step-by-step__title">Gather rich data from your cohorts</p>
  </li>
</ol>
