$colors-palette: (
  beige: #f6f6ee,
  black: #000000,
  dark-green: #174650,
  gray: #f6f6f6,
  mauve: #853d61,
  white: #ffffff
);

$colors-sections: (
  accent: mauve,
  background-light: white,
  background-mid: gray,
  background-highlight: beige,
  text: dark-green,
  text-inverse: white
);
