---
layout: layouts/base.njk
---

<section class="l-hero t-highlight">
  {% include "hero.njk" %}
</section>
<section>
  {% include "main-features.njk" %}
</section>
<section class="t-highlight">
  {% include "testimonial.njk" %}
</section>
<section>
  {% include "deep-features.njk" %}
</section>
