---
layout: layouts/base.njk
---

<section class="l-hero t-highlight">
  {% include "hero.njk" %}
</section>
<section class="l-hero--bottom">
  {% include "stepper.njk" %}
  <a class="btn btn--cta" href="#">Try Teacher Moments</a>
</section>
<section>
  {% include "main-features.njk" %}
</section>
<section class="t-highlight">
  {% include "testimonial.njk" %}
</section>
<section>
  {% include "deep-features.njk" %}
</section>
