---
layout: layouts/base.njk
---

<section>
  {% include "hero.njk" %}
</section>
<section>
  {% include "main-features.njk" %}
</section>
<section>
  {% include "testimonial.njk" %}
</section>
<section>
  {% include "deep-features.njk" %}
</section>
